.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: darkgrey ;*/
    background-image: url("https://lh3.googleusercontent.com/-xJ5TLhenMig/AAAAAAAAAAI/AAAAAAAAAAA/SWSZCIg7Hqo/photo.jpg");

}

.nav {
    float: left;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}


.nav a:hover {
    background-color: rgba(96,96,96, 0.8);}