body{


    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background: none;
    background-image: url("../media/background_pictures/rainbow-wallpaper.jpg") ;
}





